<div id="exampleModaleditnew" ng-controller="EditnewController">
    <form style="margin-top: 88px;" ng-submit="updateFormnew()">
        <lable style="margin-left:500px; font-size: 20px">EDIT NEW</lable>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img class="img-fluid" ng-src="{{displayimagesnews}}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group-default">
                            <label>Images</label>
                            <input uploadfile="selectUploadFile" type="file" name="file"
                                   onchange="angular.element(this).scope().photoChanged(this.files)"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8"  ng-if="NewInfo">
                <div class="form-group">
                    <label >ID NEW</label>
                    <input type="text" class="form-control" ng-model="NewInfo.id_news" disabled>
                </div>
                <div class="form-group">
                    <label>TITLE</label>
                    <input type="text" class="form-control" ng-model="NewInfo.title" >
                </div>
                <div class="form-group">
                    <label>DATE</label>
                    <input type="text" class="form-control" ng-model="NewInfo.date | date:'MM/dd/yyyy hh:mm'" >
                </div>
                <div class="form-group">
                    <label>BRIEF</label>
                    <input type="text" class="form-control" ng-model="NewInfo.brief" >
                </div>
            </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-secondary"><a href="selectors/table/tablenews/tablenews.html">Close</a></button>
            <button type="button" class="btn btn-secondary" ng-click="showeditinfo()">Reset</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>