<div class="content" ng-controller="edituserController">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">TABLE USERS</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a ui-sref="login">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a>Tables</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a ui-sref="user">Table Users</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a ui-sref="edituser">Edit User</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Edit User</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form ng-submit="saveedituser()">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-user">
                                        <div class="image">
                                            <img class="img-fluid" ng-src="{{displayimages}}"/>
                                    </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Images</label>
                                                <input uploadfile="selectUploadFile" type="file" name="file"
                                                       onchange="angular.element(this).scope().photoChanged(this.files)"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group form-group-default">
                                                <label>Email</label>
                                                <input type="text" class="form-control"
                                                       placeholder="email" ng-model="infouseredit.email">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group form-group-default">
                                                <label>Block</label>
                                                <select class="form-control" ng-model="infouseredit.block">
                                                    <option ng-value="true">Blocked</option>
                                                    <option ng-value="false">Active</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pr-1">
                                            <div class="form-group form-group-default">
                                                <label>FirstName</label>
                                                <input type="text" class="form-control"
                                                       placeholder="first name" ng-model="infouseredit.first_name">
                                            </div>
                                        </div>
                                        <div class="col-md-6 pl-1">
                                            <div class="form-group form-group-default">
                                                <label>LastName</label>
                                                <input type="text" class="form-control"
                                                       placeholder="last name" ng-model="infouseredit.last_name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pr-1">
                                            <div class="form-group form-group-default">
                                                <label>UserName</label>
                                                <input type="text" class="form-control"
                                                       placeholder="username" ng-value="infouseredit.user_name">
                                            </div>
                                        </div>
                                        <div class="col-md-6 pl-1">
                                            <div class="form-group form-group-default">
                                                <label>Role</label>
                                                <div layout="row">
                                                    <md-input-container>
                                                        <md-select ng-model="roless" multiple>
                                                            <md-optgroup label="ROLE">
                                                                <md-option ng-value="r.id_role"
                                                                           ng-repeat="r in listrole">
                                                                    {{r.name_role}}
                                                                </md-option>
                                                            </md-optgroup>
                                                        </md-select>
                                                    </md-input-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="float: right;">
                                <button type="button" class="btn btn-secondary" ui-sref="user">Back</button>
                                <button ng-if="checkrole.user_name != infouseredit.user_name" type="submit"
                                        class="btn btn-primary">Submit
                                </button>
                                <button ng-if="checkrole.user_name == infouseredit.user_name"
                                        ng-click="saveedituserforadmin()" type="button" class="btn btn-primary">Submit
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
