<!-- Modal -->
<div class="modal fade" id="showinfouserModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 53%;">
        <div class="modal-content">
            <form>
                <div class="modal-header no-bd">
                    <h5 class="modal-title">
                        <span class="fw-mediumbold">Show Info User</span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" ng-if="selectuser">
                    <p class="small">UserName: {{selectuser.user_name}}</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-user">
                                <div class="image">
                                    <img class="img-fluid" style="height: 205px;" ng-src="http://localhost:8080/files/{{selectuser.images}}"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group form-group-default">
                                        <label>Email</label>
                                        <label class="form-control">{{selectuser.email}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group form-group-default">
                                        <label>FirstName</label>
                                        <label class="form-control">{{selectuser.first_name}}</label>
                                    </div>
                                </div>
                                <div class="col-md-6 pl-1">
                                    <div class="form-group form-group-default">
                                        <label>LastName</label>
                                        <label class="form-control">{{selectuser.last_name}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pr-1">
                                    <div class="form-group form-group-default">
                                        <label>Role</label>
                                        <div ng-repeat="r in role">
                                            <label>{{r.id_role}}-{{r.name_role}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 px-1">
                                    <div class="form-group form-group-default">
                                        <label>Activate</label>
                                        <label class="form-control">{{selectuser.activated? 'Activaed': 'Not activated'}}</label>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group form-group-default">
                                        <label>Block</label>
                                        <label class="form-control">{{selectuser.block? 'Blocked': 'Active'}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
