<div class="content" ng-controller="addtimesheetController">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">TABLE TIMESHEET</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a ui-sref="login">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a>Tables</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a ui-sref="membertimesheet">Table Timesheets</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a ui-sref="edittimesheet">Add Timesheets</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Add Timesheet</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form ng-submit="addinfotimesheet()">
                            <div class="modal-body">
                                <p class="small">UserName: {{addtimesheetm.user_name}}</p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-group-default">
                                            <label>Task</label>
                                            <input type="text" class="form-control"
                                                   placeholder="task" ng-model="addtimesheetm.task">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group form-group-default">
                                            <label>Start time</label>
                                            <div layout-gt-xs="row">
                                                <div flex-gt-xs>
                                                    <md-datepicker ng-model="addtimesheetm.datetime"
                                                                   md-placeholder="Enter date"></md-datepicker>
                                                </div>
                                                <div>{{editinfotimesheet.datetime | date:shortDate}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-1">
                                        <div class="form-group form-group-default">
                                            <label>Result</label>
                                            <input type="text" class="form-control"
                                                   placeholder="task" ng-model="addtimesheetm.result">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group form-group-default">
                                            <label>Notes</label>
                                            <input type="text" class="form-control"
                                                   placeholder="task" ng-model="addtimesheetm.notes">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-group-default">
                                            <label>Status</label>
                                            <md-select ng-model="addtimesheetm.status" placeholder="..." class="md-no-underline"
                                                       style="width: 100%;">
                                                <md-option value="Chua duyet">chưa duyệt</md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer no-bd">
                                    <button class="btn btn-primary" type="submit">Add</button>
                                    <button class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

