<div class="content" ng-controller="edittimesheetmController">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">TABLE USERS</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a ui-sref="login">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a>Tables</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a ui-sref="membertimesheet">Table Member Timesheets</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a ui-sref="edittimesheetm">Edit Member Timesheets</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Edit Timesheet</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form ng-submit="updateinfotimesheetm()">
                            <div class="modal-body">
                                <p class="small">UserName: {{editinfotimesheetm.user_name}}</p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-group-default">
                                            <label>Task</label>
                                            <input type="text" class="form-control"
                                                   placeholder="..." ng-model="editinfotimesheetm.task">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 pr-1">
                                        <div class="form-group form-group-default">
                                            <label>Start time</label>
                                            <div layout-gt-xs="row">
                                                <div flex-gt-xs>
                                                    <md-datepicker ng-model="editinfotimesheetm.datetime"
                                                                   md-placeholder="Enter date"></md-datepicker>
                                                </div>
                                                <div>{{editinfotimesheetm.datetime | date:shortDate}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 px-1">
                                        <div class="form-group form-group-default">
                                            <label>Result</label>
                                            <input type="text" class="form-control"
                                                   placeholder="..." ng-model="editinfotimesheetm.result">
                                        </div>
                                    </div>
                                    <div class="col-md-4 pl-1">
                                        <div class="form-group form-group-default">
                                            <label>Confirmed by</label>
                                            <input type="text" class="form-control"
                                                   placeholder="..." ng-model="editinfotimesheetm.confirmed_by">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 pr-1">
                                        <div class="form-group form-group-default">
                                            <label>Notes</label>
                                            <input type="text" class="form-control"
                                                   placeholder="..." ng-model="editinfotimesheetm.notes">
                                        </div>
                                    </div>
                                    <div class="col-md-4 pl-1">
                                        <div class="form-group form-group-default">
                                            <label>Status</label>
                                            <md-select ng-model="editinfotimesheetm.status" placeholder="..."
                                                       class="md-no-underline"
                                                       style="width: 100%;">
                                                <md-option value="Chua duyet">chưa duyệt</md-option>
                                                <md-option value="Duyet">đã duyệt</md-option>
                                                <md-option value="Khong hoan thanh">không hoàn thành</md-option>
                                                <md-option value="Tu choi">từ chối</md-option>
                                            </md-select>
                                        </div>
                                    </div>
                                </div>
                                <div style="float: right;">
                                    <button type="button" class="btn btn-secondary" ui-sref="membertimesheet">Back
                                    </button>
                                    <button type="submit"
                                            class="btn btn-primary">Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
