<div class="content" ng-controller="timesheetmemberController">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">TABLE TIMESHEETS</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a ui-sref="login">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a>Tables</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a ui-sref="tabletimesheet">Table Timesheets</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <div class="col-md-6">
                                <h4 style="float: left;" class="card-title">Table Timesheet</h4>
                                <button ui-sref="addtimesheet"
                                        style="margin: auto 21px;width: 105px;float: right;"
                                        type="button" class="btn btn-primary">Add
                                </button>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-default">
                                    <div flex-gt-xs>
                                        <button ng-click="getlisttimesheetallm()"
                                                style="float: right; padding: 7px 15px 7px 8px; width: 100%;"
                                                type="button" class="btn btn-primary">
                                            Show All in Month: <span
                                                class="badge badge-light">{{startDate | date:'MM'}}</span>
                                        </button>
                                        <md-datepicker ng-model="startDate" ng-change="onDateChanged()"
                                                       style="float: left;margin-right: 24px;"></md-datepicker>
                                        <div style="padding: 7px 15px 7px 8px; float: right;">{{startDate |
                                            date:shortDate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="dtHorizontalVerticalExample" class="table table-hover" cellspacing="0"
                                   width="100%">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Task</th>
                                    <th>Username</th>
                                    <th>Date time</th>
                                    <th>Result</th>
                                    <th>Status</th>
                                    <th>Confirmed by</th>
                                    <th style="width: 10%; text-align: center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="t in timesheetm|orderBy:sortBy:isASC|filter:search|itemsPerPage:5">
                                    <td>{{t.id_timesheet}}</td>
                                    <td>{{t.task}}</td>
                                    <td>{{t.user_name}}</td>
                                    <td>{{t.datetime | date:'MM/dd/yyyy'}}</td>
                                    <td>{{t.result}}</td>
                                    <td><span class="badge badge-warning">{{t.status}}</span></td>
                                    <td style="text-align: center">{{t.confirmed_by}}</td>
                                    <td style="text-align: center;">
                                        <div class="form-button-action"><a ng-if="t.status != 'Duyet'"
                                                ui-sref="edittimesheetm({id: t.id_timesheet})">
                                            <button type="button" data-toggle="tooltip" title=""
                                                    class="btn btn-link btn-primary btn-lg"
                                                    data-original-title="Edit Task">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                            <button ng-if="t.status != 'Duyet'" type="button" data-toggle="tooltip" title=""
                                                    class="btn btn-link btn-danger" data-original-title="Remove">
                                                <i class="fa fa-times" ng-click="deletetimesheetm(t)"></i>
                                            </button>
                                            <button type="button" class="btn btn-link btn-primary"
                                                    ng-click="showinfotimesheetm(t)" data-toggle="modal"
                                                    data-target="#showinfotimesheetModal">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <dir-pagination-controls style="float: right;margin-right: 100px;"></dir-pagination-controls>
            </div>
        </div>
    </div>
    <div viewinfotimesheetm></div>
</div>
