<div class="content" ng-controller="EmployeeController">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Update</h4>
                </div>
            </div>
        </div>
    </div>

<!--    tab-->
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Edit all">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Edit all</h1>
                        <form ng-submit="UpdateEmployee()">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group form-group-default">
                                            <label>id employee</label>
                                            <input type="text" class="form-control" placeholder="" ng-model="dataEmployee.id_employee">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-group form-group-default">
                                            <label>Full name</label>
                                            <input type="text" class="form-control" placeholder="" ng-model="dataEmployee.full_name" ng-required="string">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Images</label>
                                                <input type="text" class="form-control" placeholder="" ng-model="dataEmployee.images">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group form-group-default">
                                            <label>Email</label>
                                            <input type="text" class="form-control" placeholder="" ng-model="dataEmployee.email">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-group form-group-default">
                                            <label>Phone</label>
                                            <input type="text" class="form-control" placeholder="" ng-model="dataEmployee.phone">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Object</label>
                                                <input type="text" class="form-control" placeholder="" ng-model="dataEmployee.object">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group form-group-default">
                                            <label>status</label>
                                            <input type="text" class="form-control" placeholder="" ng-model="dataEmployee.status">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-group form-group-default">
                                            <label>created</label>
                                            <input type="text" class="form-control" placeholder="" ng-model="dataEmployee.created">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>last access</label>
                                                <input type="text" class="form-control" placeholder="" ng-model="dataEmployee.last_access">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group form-group-default">
                                            <label>home_town</label>
                                            <input type="text" class="form-control" placeholder="" ng-model="dataEmployee.home_town">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-group form-group-default">
                                            <label>education</label>
                                            <input type="text" class="form-control" placeholder="" ng-model="dataEmployee.education">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>science</label>
                                                <input type="text" class="form-control" placeholder="" ng-model="dataEmployee.science">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group form-group-default">
                                            <label>school</label>
                                            <input type="text" class="form-control" placeholder="" ng-model="dataEmployee.school">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-group form-group-default">
                                            <label>nick skype</label>
                                            <input type="text" class="form-control" placeholder="" ng-model="dataEmployee.nick_skype">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>nick facebook</label>
                                                <input type="text" class="form-control" placeholder="" ng-model="dataEmployee.facebook_link">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group form-group-default">
                                            <label>graduation year</label>
                                            <input type="text" class="form-control" placeholder="" ng-model="dataEmployee.graduation_year">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-group form-group-default">
                                            <label>activated</label>
                                            <input id="full_name" type="text" class="form-control" placeholder="" ng-model="dataEmployee.activated">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>id_department</label>
                                                <input id="full_name" type="text" class="form-control" placeholder="" ng-model="dataEmployee.id_department">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group form-group-default">
                                            <label>id team</label>
                                            <input id="full_name" type="text" class="form-control" placeholder="" ng-model="dataEmployee.id_team">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer no-bd">
                                <button class="btn btn-primary" type="submit">Add</button>
                                <button class="btn btn-danger" data-dismiss="modal" ui-sref="tableeployee">Back</button>
                            </div>
                        </form>
                    </md-content>
                </md-tab>
                <md-tab label="Edit department">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Edit department</h1>
                        <form ng-submit="UpdateEmployee()">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group form-group-default">
                                        <label>Full name</label>
                                        <input id="full_name" type="text" class="form-control" placeholder="" ng-model="dataEmployee.full_name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group form-group-default">
                                        <label>Id department</label>
                                        <select ng-model="dataEmployee.id_department">
                                            <option value="1">Phong ban 1</option>
                                            <option value="2">Phong ban 2</option>
                                            <option value="3">Phong ban 3</option>
                                            <option value="4">Phong ban 4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer no-bd">
                                <button class="btn btn-primary" type="submit" >Add</button>
                                <button class="btn btn-danger" data-dismiss="modal" ui-sref="tableeployee">Back</button>
                            </div>
                        </form>
                    </md-content>
                </md-tab>
                <md-tab label="three">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Tab Three</h1>

                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>

