<div ng-controller="HomenewsController">
<pre>{{userss|json}}</pre>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Username</th>
            <th>Role</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="list in listuser">
            <td>{{$index+1}}</td>
            <td>{{list.full_name}}</td>
            <td>{{list.user_name}}</td>
            <td>{{list.id_role}}</td>
            <td><button type="button" class="btn btn-default btn-sm"
                        ng-click="initEdit(list.full_name)">
                <span class="glyphicon glyphicon-edit"></span>
            </button></td>
            <td>
                <button type="button" class="btn btn-default btn-sm"
                        ng-click="deleteUser(list.full_name)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
